.navbar {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    position: relative;
}
.navbar ul {
    position: absolute;
    bottom:20px
}
/* CARD SECTION */

.card {
    flex-direction: column;
    padding: 20px;
}
.card-box h1 {
    padding: 15px 30px 0 30px;
 }
 /* About(info) */
 #info {
     flex-direction: column;
 }
 #info img {
    width: 100%;
}
/* Business Cases Section with Image gallery */
#business-cases h3, h2, p {
    padding: 12px;
}
#business-cases h2 {
    font-size: 35px;
}
#business-cases p {
    font-size: 16px;
}
.photo-area {
    flex-direction: column;
    padding:5px;
}
.photo-column {
    max-width: 100%;  
}
/* Blog Showcase */
#blog {
    flex-direction: column-reverse
}
/* Team Members */ 
.teambox {
    flex-direction: column;
    align-items: center;
}
.member {
    width: 80%;
}
/* Request Callback */
#callback {
    flex-direction: column;
}
#callback-form input {
    width: 100%;
}

/* BLOG PAGE  */
#blog-inner {
    flex-direction: column;
}
#blog-inner > div {
    width: 100%;
    margin: 10px 0;
}
#blog-inner img {
    width: 100%;
    margin: 10px 0;
}
#blog-inner div.arrow-right{
    display: none;
}
.blog-case2 div.arrow-left {
    display: none;
}
.blog-case2 {
    flex-direction: column-reverse;
}
div.arrow-down {
    display: block;
    position: relative;
    top: 50px;

}